body {
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=19221);
  background-image: url("a-friend-night-sky.gif");
  background-color: #000000;
  font-family: Comic Sans MS, Papyrus, fantasy;
}
table { border: 5px bevel; elevation: 2 }
td { border: 4px bevel; elevation: -1 }
h1 {
  color: rgba(0,255,0,1);
  text-shadow: 3px 2px 0px rgba(0,255,0,0.5);
  font-family: Impact, Arial, sans-serif;
  font-size: 72px;
}
a {
  color: rgba(255,0,0,1);
  text-shadow: 3px 2px 0px rgba(255,0,0,0.5);
  font-family: Comic Sans MS, Papyrus, fantasy;
  font-size: 60px;
}
